/* #1c1e1e - preto , #a71d31 - vermelho */
@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* Referências
Fontes - https://fonts.google.com/
Icones (PNGs) - https://fontawesome.com/icons
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  display: flex;
  background-color: #1c1e1e;
  padding: 3em;
}

#inicio {
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 1em;
  margin-right: 20em;
  font-size: 2em;
  border: 3px solid #a71d31;
  border-radius: 10px 20px;
  padding: 5px;
}

#inicio:hover {
  color: #a71d31;
  border-color: white;
  border-radius: 10px 5px;
  transition: 0.1s ease-out;
}

nav {
  display: flex;
  align-items: center;
  gap: 9em;
}

nav a {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  border: 3px solid #a71d31;
  border-radius: 10px 20px;
  padding: 8px;
}

nav a:hover {
  background-color: white;
  color: #a71d31;
  border-color: white;
  border-radius: 10px 5px;
  transition: 0.1s ease-out;
}

body {
  background-color: #1c1e1e;
  color: white;
}

#fotoprincipal {
  scale: 115%;
  border-radius: 10%;
  margin-left: 22em;
  margin-top: 3.4em;
  border-color: 2em #a71d31;
}

/* ====================== */
/*         INICIO         */
/* ====================== */

.index {
  display: flex;
  float: right;
  background-color: #a71d31;
  position: absolute;
  top: 9em;
  left: 55em;
  margin-right: 2em;
  bottom: 45em;
  padding-bottom: 42em;
  padding-right: 2em;
  border-radius: 1%;
}

.index h1 {
  position: relative;
  font-family: "Ballet", cursive;
  color: white;
  margin-left: 0.5em;
  margin-top: 1.5em;
  font-size: 3em;
}

.index span {
  position: absolute;
  font-family: "Mea Culpa", cursive;
  font-size: 10em;
  margin-left: 1.2em;
  top: 1px;
  color: black;
}

.index h2 {
  position: absolute;
  font-size: 4em;
  margin-top: 3em;
  margin-left: 1em;
  color: black;
}

.indexconteudo {
  position: relative;
  color: white;
  font-size: 2em;
  margin-left: 1em;
  margin-top: 5em;
  top: 4em;
}

.indexconteudo2 {
  color: white;
  font-size: 2em;
  margin-left: 1em;
  margin-top: 5em;
}

/* ====================== */
/*        SOBRE MIM       */
/* ====================== */

.sobremim {
  display: flex;
  float: right;
  background-color: #a71d31;
  color: white;
  position: absolute;
  top: 9em;
  left: 55em;
  margin-right: 2em;
  bottom: 45em;
  padding-bottom: 42em;
  padding-right: 2em;
  border-radius: 1%;
}

.sobremim h1 {
  margin-top: 0.5em;
  margin-bottom: 0.15em;
  font-size: 3em;
  margin-left: 0.6em;
  color: black;
}

.sobremimconteudo {
  margin-left: 0.6em;
  font-size: 1.7em;
}

.sobremim h2 {
  color: black;
  margin-top: 2em;
  margin-left: 0.7em;
  margin-bottom: 0.3em;
  font-size: 2.4em;
}

.sobremimsubconteudo {
  margin-left: 0.6em;
  font-size: 1.6em;
}

/* ====================== */
/*       PORTIFÓLIO       */
/* ====================== */

.portifolio {
  display: flex;
  float: right;
  background-color: #a71d31;
  color: white;
  position: absolute;
  top: 9em;
  left: 55em;
  margin-right: 2em;
  bottom: 45em;
  padding-bottom: 42em;
  padding-right: 2em;
  border-radius: 1%;
}

.portifolio h1 {
  color: black;
  margin-top: 0.5em;
  font-size: 2.7em;
  padding-left: 0.6em;
}

.portifolioconteudo {
  margin-top: 0.5em;
  margin-left: 0.4em;
  font-size: 1.7em;
}

.portifolioconteudo2 {
  margin-top: 1.2em;
  margin-left: 0.4em;
  font-size: 1.7em;
}

.portifolio h2 {
  color: black;
  margin-top: 1.5em;
  font-size: 2.4em;
  padding-left: 0.6em;
}

.projetosconteudo {
  margin-top: 0.5em;
  margin-left: 0.4em;
  font-size: 1.7em;
}

/* ====================== */
/*       NOVIDADES        */
/* ====================== */

.novidades {
  display: flex;
  float: right;
  background-color: #a71d31;
  color: white;
  position: absolute;
  top: 9em;
  left: 55em;
  margin-right: 2em;
  bottom: 45em;
  padding-bottom: 42em;
  padding-right: 2em;
  border-radius: 1%;
}

.novidades h1 {
  margin-top: 0.5em;
  color: black;
  font-size: 4em;
  margin-left: 0.6em;
}

.novidadesconteudo {
  margin-top: 0.5em;
  margin-left: 0.5em;
  font-size: 1.7em;
}

.novidadesatt {
  color: black;
  margin-top: 5em;
  margin-left: 0.6em;
  font-size: 2em;
}

/* ====================== */
/*       CONTATO          */
/* ====================== */

.contato {
  display: flex;
  float: right;
  background-color: #a71d31;
  color: white;
  position: absolute;
  top: 9em;
  left: 55em;
  margin-right: 2em;
  bottom: 45em;
  padding-bottom: 42em;
  padding-right: 20em;
  border-radius: 1%;
}

.contato h1 {
  margin-top: 0.5em;
  color: black;
  font-size: 4em;
  margin-left: 0.6em;
}

#contatoconteudo {
  position: absolute;
  margin-top: 0.4em;
  margin-left: 0.5em;
  font-size: 2.5em;
}
.redessociais {
  position: relative;
  top: 70px;
  left: 20px;
}

#contatosubconteudo {
  position: relative;
  top: 4em;
  margin-left: 0.5em;
  margin-top: 1em;
  font-size: 2em;
}

.formulario {
  position: relative;
  top: 180px;
}

#labelnome {
  font-size: 2em;
  margin-left: 0.5em;
}

#nomeplaceholder {
  position: relative;
  bottom: 6px;
  padding: 1em;
  margin-bottom: 3em;
  background-color: #1c1e1e;
  color: white;
}

#labelemail {
  font-size: 2em;
  margin-left: 0.5em;
}

#emailplaceholder {
  position: relative;
  bottom: 8px;
  padding: 1em;
  background-color: #1c1e1e;
  color: white;
}

#areatext {
  background-color: #1c1e1e;
  color: white;
  width: 600px;
  height: 150px;
  margin-left: 30px;
}

#enviar {
  position: relative;
  left: 27em;
  bottom: 4em;
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 1em;
  margin-right: 20em;
  font-size: 1.5em;
  border: 2px solid white;
  border-radius: 10px 20px;
  padding: 5px;
  background-color: #1c1e1e;
  color: white;
}

#enviar:hover {
  color: #a71d31;
  border-color: white;
  background-color: white;
  border-radius: 10px 5px;
  transition: 0.1s ease-out;
}

/* ====================== */
/*      ENVIO E-MAIL      */
/* ====================== */

.emailenviado {
  display: flex;
  float: center;
  background-color: #a71d31;
  color: white;
  position: relative;
  margin-top: 4em;
  margin-left: 420px;
  margin-right: 420px;
  padding-bottom: 20em;
  border-radius: 10px 20px;
}

.emailenviado h1 {
  margin-top: 30px;
  margin-left: 4.2em;
  color: black;
  font-size: 5em;
}

.emailenviadoconteudo {
  font-size: 3em;
  margin-top: 1em;
  margin-left: 2em;
}
